<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnyCode Docs | <%= page.data.title %></title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter");
        @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

        * { font-family: "Inter", sans-serif; }
        span { vertical-align: middle; color: #084f92; }

        @media only screen and (max-width: 768px) {
            .mobile-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mobile-center .material-symbols-outlined {
                font-size: 24px;
                text-align: center;
            }
            .mobile-center a { display: none; }
        }

        /* Define transition for sidebar */
        #sidebar {
            transition: transform 0.3s ease;
            transform: translateY(-100%); /* Move sidebar off-screen initially */
            position: fixed;
            top: 3.5rem; /* Adjusted to fit navbar height */
            left: 0;
            width: 22%;
            height: 100%;
            background-color: #cac8c8;
            border-right: 4px solid #dbdbdb;
            padding: 2rem;
            z-index: 1000;
        }

        /* Show sidebar when active */
        #sidebar.active {
            transform: translateY(0%);
        }

        /* Adjust page content when sidebar is hidden */
        .content {
            transition: margin-left 0.3s ease;
            margin-top: 3.8rem; /* Adjusted to fit navbar height */
            padding: 1rem; /* Adjusted padding for content area */
        }

        .content.shifted {
            margin-left: 22%;
        }

        /* Fixed navbar styles */
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1001; /* Ensure the navbar is above the sidebar */
            background-color: #f0eaea; /* Adjusted navbar background color */
            padding: 0.5rem 1rem; /* Adjusted padding for navbar */
        }

        /* Adjusted button styles */
        #side {
            margin-top: 0.3rem; /* Adjusted margin for the button */
        }
    </style>

    <style type="text/tailwindcss">
        h1 { @apply font-semibold text-3xl; }
        h2 { @apply font-semibold text-2xl; }
        h3 { @apply font-semibold text-xl; }
        a { @apply text-[#084f92] cursor-pointer; }
    </style>
</head>

<body>
    <div class="navbar bg-base-100 text-black">
        <div class="flex-none">
          <button id="side" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </button>
        </div>
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">AnyDocs</a>
        </div>
        <div class="flex-none">
        </div>
    </div>

    <div id="sidebar">
        <% pages.map(doc => { %>
            <div class="bg-[#dbdbdb] rounded-md p-2 mb-2 mobile-center">
                <span class="material-symbols-outlined"><%= doc.icon %></span>
                <a href="/<%= doc.path %>"><%- doc.title %></a>
            </div>
        <% }) %>
    </div>

    <div id="content" class="ml-[22%] pt-4 leading-loose content">
        <%- page.content %>
    </div>

    <script>
        const sideButton = document.getElementById('side');
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');

        sideButton.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            content.classList.toggle('shifted');
        });
    </script>
</body>
</html>
