---
import { Image } from "astro:assets";
const { className } = Astro.props;
const contributorGithub = [
	"anshnk",
	"illusiontba",
	"incognitotgt",
	"jeseki83",
	"localuser-isback",
	"lolzthedev",
	"notplayingallday383",
	"proudparrot2",
	"skullcrushercmd",
	"subby2006",
];
---

<main class={className}>
	<div class="mx-auto flex flex-wrap items-center justify-center">
		{
			contributorGithub.map((contributor: string) => {
				return (
					<div class="m-5 flex flex-col items-center">
						<Image
							src={`https://github.com/${contributor}.png`}
							width={100}
							height={100}
							alt={contributor}
							loading="eager"
							class="h-24 w-24 rounded-full"
						/>

						<a href={`https://github.com/${contributor}`}>{contributor}</a>
					</div>
				);
			})
		}
	</div>
</main>
